@import url("cssme.css") layer(cssme);
@import url("fonts.css") layer(fonts);

@layer themescpace {

    :root{

        --basicTextColor:  var(--cc2);
        --basicBackgroundColor:  var(--cc10);
        --basicBorderColor: color-mix(in srgb, var(--cc12), var(--cc16) 50%);

        --inputTextColor:  var(--cc4);
        --inputBackgroundColor:  var(--cc12);

        --buttonTextColor:  var(--cc3);
        --buttonBackgroundColor:  var(--cc11);

        --fontSize: 16px;
        --innerPadding: 5px;
        --inputRound: 8px;
        --inputWidth: 200px;
        --basicHeight: auto;

        --borderSize: 5px;

        --fontFamily: "sans-serif","sans","Ubuntu Condensed","Ubuntu";
        --fontFamilyMono: monospace, "Roboto Mono", "FreeMono", "Consolas", "SF Mono";
    }

    ::-webkit-scrollbar {
        width: 10px;
        background-color: var(--basicBackgroundColor);
        border: var(--borderSize) solid var(--basicBorderColor);
    }
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 5px color-mix(in oklch, var(--basicBorderColor) 90%, transparent);
        cursor: pointer;
        background-color: var(--buttonBackgroundColor);
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 2px;
        cursor: pointer;
        background-color: var(--buttonTextColor);
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: color-mix(in oklch, var(--buttonTextColor) 50%, var(--basicTextColor));
    }


    html, body, body>*{
        background: var(--basicBackgroundColor);
        color: var(--basicTextColor);
        color-scheme: dark light;

        font-family: var(--fontPlay), system-ui;
        font-weight: normal;

    }




    /*
    *
    * GLOBAL INPUTS SETTINGS
    *
    */
    input::placeholder{
        color: var(--basicBorderColor);
    }
    input:not([type="color"]):not([type="range"]):not([type="checkbox"]):not([type="radio"]),
    .button,
    button,
    textarea,
    input[type="file"],
    input[type="file"]::file-selector-button,
    select {
        font: inherit;
        outline: none;
        border-radius: var(--inputRound);
        transition: border-color .2s, background-color .2s;
    }

    .button,
    button,
    input[type="button"],
    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type="url"],
    input[type="email"],
    input[type="tel"],
    input[type="search"],
    input[type="checkbox"],
    input[type="radio"],
    input[type="reset"],
    input[type="submit"],
    input[type="date"],
    input[type="week"],
    input[type="month"],
    input[type="time"],
    input[type="datetime-local"],
    input[type="datetime"]{
        padding: var(--innerPadding);
        height: var(--basicHeight);
    }

    input[type="date"],
    input[type="week"],
    input[type="month"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    select,
    textarea,
    [contenteditable],
    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type="url"],
    input[type="email"],
    input[type="tel"],
    input[type="search"]{
        border: var(--borderSize) solid var(--basicBorderColor);
        background-color: var(--inputBackgroundColor);
        color: var(--inputTextColor);
    }

    input[type=range],
    textarea
    {

    }



    /*
    *
    * BUTTONS COMMON
    * var(--innerPadding)
    */
    input[type="reset"],
    input[type="submit"],
    input[type="button"],
    input[type="file"]::file-selector-button,
    .button,
    button {
        cursor: pointer;
        padding: 2px 0;
        border: var(--borderSize) solid var(--basicBorderColor);
        background-color: var(--buttonBackgroundColor);
        color: var(--buttonTextColor);
    }

    input[type="reset"]:active,
    input[type="submit"]:active,
    input[type="button"]:active,
    input[type="file"]::file-selector-button:active,
    .button:active,
    button:active {
        background-color: var(--buttonTextColor);
        color: var(--buttonBackgroundColor);
    }



    /*
    *
    * COLOR PICKER
    *
    */
    input[type="color"]{
        background-color: inherit;
        width: 60px;
        border-radius: var(--inputRound);
    }


    /*
    *
    * RANGE
    *
    */
    input[type=range] {
        height: 30px;
    }
    input[type=range]::-webkit-slider-runnable-track{
        width: var(--inputWidth);
        height: 20px;
        border-radius: var(--inputRound);
        outline: 1px solid var(--basicBorderColor);
        background-color: var(--buttonTextColor);
    }
    input[type=range]::-webkit-slider-thumb {
        height: 18px;
        width: 10px;
        position: relative;
        margin-top: 0px;
        background-color: var(--buttonBackgroundColor);
        border-radius: var(--inputRound);
    }
    input[type=range]::-webkit-slider-thumb {
        transform: translateY(1px);
    }


    input[type=range].range2::-webkit-slider-runnable-track {
        height: 6px;
    }
    input[type=range].range2::-webkit-slider-thumb {
        height: 24px;
        width: 10px;
        position: relative;
        margin-top: -10px;
    }


    input[type=range].range3::-webkit-slider-runnable-track {
        height: 20px;
        background: repeating-linear-gradient(
                90deg,
                var(--basicBorderColor) 0 1px,
                var(--basicBackgroundColor) 2px 10%);
    }
    input[type=range].range3::-webkit-slider-thumb {
        height: 30px;
        width: 10px;
        position: relative;
        margin-top: -6px;
    }




    /*
    *
    * CHECKBOX
    *
    * RADIO
    *
    */
    input[type="checkbox"],
    input[type="radio"]{
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        place-content: center;
        cursor: pointer;
        transition: all 0.25s ease;
        margin: 0;

        width: 20px;
        height: 20px;
        border: 2px solid var(--basicBorderColor);
        border-radius: var(--inputRound);
        background: var(--basicBackgroundColor);
        display: grid;
    }
    input[type="checkbox"],
    input[type="radio"] {
        box-shadow: 0 0 0 transparent;
    }
    input[type="checkbox"]:checked ,
    input[type="radio"]:checked {
        background: var(--buttonBackgroundColor);
        box-shadow: 0 0 2px var(--basicBorderColor);
        border-color: var(--buttonTextColor);
    }
    input[type="checkbox"][disabled]{
        border-color: color-mix(in srgb, var(--buttonTextColor) 25%, transparent 90%)
    }
    input[type="checkbox"]::before,
    input[type="radio"]::before {
        content: " _ ";
        display: block;
        /*width: calc(var(--basicHeight) - 10px);*/
        /*height: calc(var(--basicHeight) - 2px);*/
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        background: var(--buttonTextColor);
        transform: scale(0);
        opacity: 0;
        transition: all 0.2s;
    }
    input[type="checkbox"]:checked::before,
    input[type="radio"]:checked::before {
        opacity: 1;
        transform: scale(1);
    }


    /*
    *
    * SELECT
    *
    */
    select:not([multiple]) {
        appearance:none;
        padding-right:2.2rem;
        background:
                conic-gradient(from 45deg, var(--inputTextColor) 0 90deg, transparent 0 360deg)
                right .8rem center / 1.8rem .7rem no-repeat;
    }
    select {
        background-color: var(--inputBackgroundColor);
        border: var(--borderSize) solid var(--basicBorderColor);
        color: var(--inputTextColor);
    }
    select option{
        background-color: var(--inputBackgroundColor);
        color: var(--inputTextColor);
        transition: all 0.2s;
        padding: var(--innerPadding);
        text-align: left;
    }

    select:not([multiple]) {

    }




    /*
    *
    * FOCUS
    *
    */
    input:focus,
    textarea:focus,
    select:focus {
        border-color: color-mix(in srgb, var(--basicBorderColor), transparent 50%);
    }

    button, select:focus-visible {
        outline: 2px solid color-mix(in srgb, var(--basicTextColor), transparent 80%);
        outline-offset: 2px;
    }




    /*
    *
    *
    *
    */
    [popover]{
        background-color: var(--inputBackgroundColor);
        border: var(--borderSize) solid var(--basicBorderColor);
        color: var(--inputTextColor);
    }
    [popover]:popover-open {
        position: absolute;
        inset: unset;
        margin: 0;
    }




    /*
    *
    * DEFAULT ELEMENTS
    *
    */

    label{
        font-size: 100%;
        align-items: center;
        font-weight: bolder;
    }

    a, .link {
        /*color: var(--inputTextColor);*/
        cursor: pointer;
    }
    a:hover, .link:hover {
        /*color: color-mix(in srgb, var(--basicTextColor) 50%, transparent);*/
        filter: hue-rotate(35deg);
        text-decoration: underline;
    }

    blockquote{
        background-color: color-mix(in srgb, var(--inputBackgroundColor) 40%, transparent);
        border: var(--borderSize) solid var(--basicBorderColor);
        color: var(--inputTextColor);
        font-size: 96%;
        padding: var(--innerPadding);
    }

    code, pre{
        font-family: var(--fontFamilyMono), serif;
        font-size: 90%;
        color: var(--inputTextColor);
    }




}




